<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul *ngIf="villes" class="list-group">
                <li [ngClass]="{'active': v == currentVille }" *ngFor="let v of villes._embedded.villes" 
                        class="list-group-item"
                        (click)="onGetCinemas(v)"
                        role='button'>
                    {{v.name}}
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Liste des Cinémas</div>
                <div class="panel-body">
                    <ul *ngIf="cinemas" class="nav nav-pills">
                        <li [ngClass]="{'active': c == currentCinema }" *ngFor="let c of cinemas._embedded.cinemas" role='button'>
                            <a (click)="onGetSalles(c)">{{c.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" *ngIf = "salles">
                <div *ngFor="let s of salles._embedded.salles">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">{{s.name}}</div>
                            <div class="panel-body" *ngIf="s.projections">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img width="130" src="{{cinemaService.host+'/images/'+s.projections._embedded.projections[0].film.id}}">
                                    </div>
                                    
                                    <div class="col-md-7">
                                        <ul class="list-group">
                                            <li class="list-group-item">Séance:</li>
                                            <li [ngClass]="{'active': p == currentProjection }" *ngFor="let p of s.projections._embedded.projections" (click)="onGetTicketPlaces(p)" class="list-group-item">{{p.seance.heureDebut}} - Prix: {{p.prix|number:'0.00'}}MAD </li>
                                        </ul>
                                    </div>
                                </div>

                                <div *ngIf="currentProjection">
                                    <div *ngIf="s.id == currentProjection.salle.id">
                                        
                                        
                                            <div class="row" *ngIf="currentProjection.tickets">
                                                <button 
                                                    class="{{getTicketsClass(t)}}"
                                                    (click)="onSelectTicket(t)"
                                                    [disabled]="t.reservee"
                                                    style="margin: 1px;" 
                                                    *ngFor="let t of currentProjection.tickets._embedded.tickets">
                                                    {{t.place.numero}}</button>
                                            </div>

                                            <div *ngIf="selectedTickets.length>0">
                                                <form method="post" #f="ngForm" (ngSubmit)="onPayTickets(f.value)">
                                                    <div class="form-group">
                                                        <label class="control-label">Nom Client</label>
                                                        <input class="form-control" type="text" name="nomClient" ngModel>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Code Payement</label>
                                                        <input class="form-control" type="text" name="codePayement" ngModel>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Payer</button>
                                                </form>
                                            </div>

                                        
                                    
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>